body {
  font: 12px sans-serif;
  text-align: center;
  margin: 20px;
}
button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  outline: none;
  box-shadow: none;
  background: #18a0fb;
  color: white;
}
button:active {
  background: #158cdb;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
