@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.home-content {
  max-width: none !important;
}

body {
  font-family: Inter, sans-serif;
}

:root {
  --c-white: #ffffff;
  --c-white-dark: #f8f8f8;
  --c-black: #000000;

  --c-divider-light: rgba(60, 60, 67, 0.12);
  --c-divider-dark: rgba(84, 84, 88, 0.48);

  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;
  --c-text-light-3: #90a4b7;

  --c-brand: #0085ff;
  --c-brand-light: #2295ff;
}
